.top-header {
    width: 100%;
    height: 5em;
    background-color: #01b18a;
    position: fixed;
}
 .intro-body{
 	background-color:#017f64;
 	height: 100%;
 	width: 100%;
 }
 
 @media only screen and (min-width :768px){
    .intro-body{
 	background-color:#017f64;
 	height: 300%;
 	width: 100%;
 }
}
 
 body{
	font-family: 'Open Sans', sans-serif;
	height: 100%;
} 
.my-name{
	font-weight:500;
	color:white;
	font-size: 3.5em;
	text-align: center;
	margin: -1em; 
	
}
.my-place{
	font-weight:500;
	color:white;
	font-size: 2em;
}

.my-pic{
	height: 20em;
	width: 20em;
	border: 0.35em solid #ffffff; 
	border-radius: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.intro{
	font-family:roboto;
	color:white;
	text-align:center;
	font-weight:400;
	font-size: 1.35em;
	letter-spacing: 2px;
	line-height: 1.5em;
	margin-left: -5em;
}
@font-face {
    font-family: simplifica;    
    src: url("../css/simp.ttf");
}

.simp {
     font-family: simplifica;
}

@font-face {
    font-family: Roboto;    
    src: url("../css/roboto.ttf");
}

.roboto {
     font-family: Roboto;
}

.contact {
	text-align: center;
	word-spacing: 50px;
	font-size: 2.5em;
}
.contact1{
	text-align: center;
	word-spacing: 50px;
	font-size: 2.5em;
	color: white;
}
.contact-body{
	background-color: black;
	width: 100%;
	height:auto;
}
.site-header {
    background-color: #00c092;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.nodisplay {
  display: none;
  }
.navbar ul li{
	display: inline;
	font-size: 1em;
	font-weight:normal;
}
.navbar ul{
	text-transform: uppercase;
	word-spacing: 50px;
	letter-spacing: 3px;
}
ul .list{
	font-family: Roboto;
	font-weight: 100;
	font-size: 3em;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.container-fluid{
	display: table;
	width: 100%;
	font-weight: normal;
	text-align: center;	
}

#name{
	color: #2196F3;
	text-decoration: underline;
}

.project-body{
	background-color:#2a3241;
	background-position:center;
	width: 100%;
	height:auto;
}
.journey-body{
	background-image:url("../images/bg.png");
	background-position:center;
	width: 100%;
	height:auto;
}

.panel{
  background-color: rgba(0,0,0,0.1);
  border-color: white;
  border-width:1px;
  height: 500px;
}
.git-link {
	text-align: center;
	word-spacing: 50px;
	font-size: 3.5em;
}
.portfolio {
    margin-top: 30px;
}

h4.project-title{
	font-weight: 600;
  font-size: 28px;
  color: white;
  display: inline;
}

h5.project-description{
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.project-skills{
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.resume-body{
	background-color:#d9d9d9;
	width: 100%;
	height:100%;
}
.resume{
	text-align:center;
	font-family:roboto;
	font-weight:500;
	font-size:4em;
}
.resume1{
	text-align:center;
	font-family:roboto;
	font-weight:400;
	font-size:2.5em;
}
.resume-button{
	margin-left:38%;
	 border: 3px solid #bfbfbf;
    background:#d9d9d9;
    height:60px;
    width: 210px;
    border-radius:20px;
	
}
.copyright{
	font-family:Roboto sans-serif;
	color:blue;
	font-size:1.25em;
	text-align: center;
	color: #ffffff;
	margin-bottom:5px;
}

.bottom-footer{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.fa-heart {
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
.title-main {
	font-size: 50px;
    font-weight: 100;
    color: #fff;
}
@media (max-width: 768px)
.title-main {
    font-size: 50px;
    font-weight: 100;
}
@media (max-width: 992px)
.title-main {
    font-size: 50px;
    font-weight: 100;
}